## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index.tolist()
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 100].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [15]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"]).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(25724, 49) (8575, 49) (25724,) (8575,)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn2 = tf.keras.models.Sequential()

# First hidden layer
nn2.add(tf.keras.layers.Input(shape=(X_train_scaled.shape[1],)))
nn2.add(tf.keras.layers.Dense(units=80, activation="relu"))

# Second hidden layer
nn2.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Third hidden layer
nn2.add(tf.keras.layers.Dense(units=20, activation="relu"))
# Output layer
nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn2.summary()

Model: "sequential_3"

 Layer (type)                     Output Shape                  Param #

 dense_9 (Dense)                  (None, 80)                      4,000

 dense_10 (Dense)                 (None, 40)                      3,240

 dense_11 (Dense)                 (None, 20)                        820

 dense_12 (Dense)                 (None, 1)                          21

 Total params: 8,081 (31.57 KB)

 Trainable params: 8,081 (31.57 KB)

 Non-trainable params: 0 (0.00 B)

In [29]:
# Compile the model
nn2.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  3s 2ms/step - accuracy: 0.7065 - loss: 0.5885
Epoch 2/100
804/804  2s 3ms/step - accuracy: 0.7295 - loss: 0.5505
Epoch 3/100
804/804  2s 2ms/step - accuracy: 0.7275 - loss: 0.5536
Epoch 4/100
804/804  2s 2ms/step - accuracy: 0.7313 - loss: 0.5473
Epoch 5/100
804/804  3s 2ms/step - accuracy: 0.7317 - loss: 0.5477
Epoch 6/100
804/804  2s 2ms/step - accuracy: 0.7329 - loss: 0.5441
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7336 - loss: 0.5435
Epoch 8/100
804/804  2s 3ms/step - accuracy: 0.7347 - loss: 0.5429
Epoch 9/100
804/804  2s 2ms/step - accuracy: 0.7388 - loss: 0.5359
Epoch 10/100
804/804  2s 2ms/step - accuracy: 0.7367 - loss: 0.5419
Epoch 11/100
804/804  3s 2ms/step - accuracy: 0.7345 - loss: 0.5421
Epoch 12/100
804/804  2s 2ms/step - accuracy: 0.7384 - loss: 0.5382
Epoch 13/100
804/804  3s 2ms/step - accuracy: 0.7428 - loss: 0.5342
Epoch 14/100
804/804  3s 3ms/step - accuracy: 0.7371 - loss: 0.5414
Epoch 15/100
804/804  2s 2ms/step - accuracy: 0.7362 - loss: 0.5406
Epoch 16/100
804/804  3s 2ms/step - accuracy: 0.7374 - loss: 0.5410
Epoch 17/100
804/804  3s 2ms/step - accuracy: 0.7371 - loss: 0.5384
Epoch 18/100
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5383
Epoch 19/100
804/804  3s 3ms/step - accuracy: 0.7397 - loss: 0.5345
Epoch 20/100
804/804  2s 2ms/step - accuracy: 0.7358 - loss: 0.5394
Epoch 21/100
804/804  2s 2ms/step - accuracy: 0.7427 - loss: 0.5290
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.7412 - loss: 0.5370
Epoch 23/100
804/804  3s 2ms/step - accuracy: 0.7393 - loss: 0.5359
Epoch 24/100
804/804  3s 3ms/step - accuracy: 0.7414 - loss: 0.5354
Epoch 25/100
804/804  2s 3ms/step - accuracy: 0.7454 - loss: 0.5283
Epoch 26/100
804/804  2s 2ms/step - accuracy: 0.7388 - loss: 0.5366
Epoch 27/100
804/804  3s 2ms/step - accuracy: 0.7387 - loss: 0.5358
Epoch 28/100
804/804  3s 2ms/step - accuracy: 0.7414 - loss: 0.5330
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.7378 - loss: 0.5382
Epoch 30/100
804/804  2s 3ms/step - accuracy: 0.7363 - loss: 0.5370
Epoch 31/100
804/804  2s 2ms/step - accuracy: 0.7432 - loss: 0.5315
Epoch 32/100
804/804  2s 2ms/step - accuracy: 0.7357 - loss: 0.5390
Epoch 33/100
804/804  2s 2ms/step - accuracy: 0.7421 - loss: 0.5315
Epoch 34/100
804/804  3s 2ms/step - accuracy: 0.7420 - loss: 0.5326
Epoch 35/100
804/804  2s 2ms/step - accuracy: 0.7413 - loss: 0.5312
Epoch 36/100
804/804  2s 3ms/step - accuracy: 0.7355 - loss: 0.5367
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.7401 - loss: 0.5319
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7380 - loss: 0.5356
Epoch 39/100
804/804  3s 2ms/step - accuracy: 0.7412 - loss: 0.5315
Epoch 40/100
804/804  3s 2ms/step - accuracy: 0.7371 - loss: 0.5364
Epoch 41/100
804/804  2s 2ms/step - accuracy: 0.7433 - loss: 0.5329
Epoch 42/100
804/804  3s 2ms/step - accuracy: 0.7388 - loss: 0.5355
Epoch 43/100
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5346
Epoch 44/100
804/804  2s 2ms/step - accuracy: 0.7417 - loss: 0.5303
Epoch 45/100
804/804  2s 2ms/step - accuracy: 0.7434 - loss: 0.5299
Epoch 46/100
804/804  3s 2ms/step - accuracy: 0.7464 - loss: 0.5267
Epoch 47/100
804/804  3s 3ms/step - accuracy: 0.7422 - loss: 0.5313
Epoch 48/100
804/804  2s 2ms/step - accuracy: 0.7436 - loss: 0.5295
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.7433 - loss: 0.5277
Epoch 50/100
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5348
Epoch 51/100
804/804  3s 2ms/step - accuracy: 0.7421 - loss: 0.5301
Epoch 52/100
804/804  2s 2ms/step - accuracy: 0.7372 - loss: 0.5341
Epoch 53/100
804/804  3s 3ms/step - accuracy: 0.7398 - loss: 0.5340
Epoch 54/100
804/804  2s 2ms/step - accuracy: 0.7408 - loss: 0.5330
Epoch 55/100
804/804  3s 2ms/step - accuracy: 0.7402 - loss: 0.5342
Epoch 56/100
804/804  2s 2ms/step - accuracy: 0.7438 - loss: 0.5275
Epoch 57/100
804/804  2s 2ms/step - accuracy: 0.7384 - loss: 0.5320
Epoch 58/100
804/804  2s 2ms/step - accuracy: 0.7396 - loss: 0.5296
Epoch 59/100
804/804  3s 3ms/step - accuracy: 0.7419 - loss: 0.5274
Epoch 60/100
804/804  2s 2ms/step - accuracy: 0.7422 - loss: 0.5299
Epoch 61/100
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5310
Epoch 62/100
804/804  2s 2ms/step - accuracy: 0.7420 - loss: 0.5303
Epoch 63/100
804/804  3s 2ms/step - accuracy: 0.7447 - loss: 0.5264
Epoch 64/100
804/804  3s 3ms/step - accuracy: 0.7361 - loss: 0.5361
Epoch 65/100
804/804  2s 2ms/step - accuracy: 0.7456 - loss: 0.5255
Epoch 66/100
804/804  3s 3ms/step - accuracy: 0.7439 - loss: 0.5284
Epoch 67/100
804/804  2s 2ms/step - accuracy: 0.7410 - loss: 0.5310
Epoch 68/100
804/804  2s 2ms/step - accuracy: 0.7357 - loss: 0.5354
Epoch 69/100
804/804  3s 2ms/step - accuracy: 0.7427 - loss: 0.5291
Epoch 70/100
804/804  3s 2ms/step - accuracy: 0.7415 - loss: 0.5304
Epoch 71/100
804/804  2s 2ms/step - accuracy: 0.7395 - loss: 0.5351
Epoch 72/100
804/804  3s 2ms/step - accuracy: 0.7430 - loss: 0.5272
Epoch 73/100
804/804  3s 2ms/step - accuracy: 0.7398 - loss: 0.5317
Epoch 74/100
804/804  3s 3ms/step - accuracy: 0.7403 - loss: 0.5317
Epoch 75/100
804/804  2s 2ms/step - accuracy: 0.7406 - loss: 0.5307
Epoch 76/100
804/804  2s 2ms/step - accuracy: 0.7369 - loss: 0.5356
Epoch 77/100
804/804  3s 2ms/step - accuracy: 0.7426 - loss: 0.5300
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.7382 - loss: 0.5335
Epoch 79/100
804/804  3s 2ms/step - accuracy: 0.7410 - loss: 0.5301
Epoch 80/100
804/804  3s 3ms/step - accuracy: 0.7398 - loss: 0.5308
Epoch 81/100
804/804  4s 2ms/step - accuracy: 0.7443 - loss: 0.5262
Epoch 82/100
804/804  2s 2ms/step - accuracy: 0.7421 - loss: 0.5309
Epoch 83/100
804/804  3s 2ms/step - accuracy: 0.7407 - loss: 0.5294
Epoch 84/100
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5336
Epoch 85/100
804/804  3s 3ms/step - accuracy: 0.7415 - loss: 0.5322
Epoch 86/100
804/804  2s 2ms/step - accuracy: 0.7427 - loss: 0.5307
Epoch 87/100
804/804  2s 2ms/step - accuracy: 0.7369 - loss: 0.5335
Epoch 88/100
804/804  3s 2ms/step - accuracy: 0.7414 - loss: 0.5298
Epoch 89/100
804/804  3s 2ms/step - accuracy: 0.7403 - loss: 0.5309
Epoch 90/100
804/804  3s 3ms/step - accuracy: 0.7412 - loss: 0.5287
Epoch 91/100
804/804  2s 2ms/step - accuracy: 0.7392 - loss: 0.5320
Epoch 92/100
804/804  2s 2ms/step - accuracy: 0.7366 - loss: 0.5340
Epoch 93/100
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5333
Epoch 94/100
804/804  3s 2ms/step - accuracy: 0.7366 - loss: 0.5333
Epoch 95/100
804/804  2s 2ms/step - accuracy: 0.7442 - loss: 0.5254
Epoch 96/100
804/804  3s 2ms/step - accuracy: 0.7367 - loss: 0.5327
Epoch 97/100
804/804  2s 2ms/step - accuracy: 0.7412 - loss: 0.5287
Epoch 98/100
804/804  3s 2ms/step - accuracy: 0.7409 - loss: 0.5298
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.7456 - loss: 0.5239
Epoch 100/100
804/804  3s 2ms/step - accuracy: 0.7412 - loss: 0.5287

In [33]:
# # Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn3 = tf.keras.models.Sequential()

# Input Layer
nn3.add(tf.keras.layers.Input(shape=(X_train_scaled.shape[1],)))

# First hidden layer (tanh activation)
nn3.add(tf.keras.layers.Dense(units=80, activation="tanh"))

# Second hidden layer (tanh activation)
nn3.add(tf.keras.layers.Dense(units=30, activation="tanh"))

# Output layer
nn3.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the model
nn3.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

# Train the model
fit_model_3 = nn3.fit(X_train_scaled, y_train, epochs=100, validation_split=0.2)

Epoch 1/100
644/644  3s 3ms/step - accuracy: 0.7052 - loss: 0.5913 - val_accuracy: 0.7341 - val_loss: 0.5523
Epoch 2/100
644/644  2s 2ms/step - accuracy: 0.7294 - loss: 0.5546 - val_accuracy: 0.7333 - val_loss: 0.5508
Epoch 3/100
644/644  3s 2ms/step - accuracy: 0.7265 - loss: 0.5556 - val_accuracy: 0.7302 - val_loss: 0.5488
Epoch 4/100
644/644  3s 4ms/step - accuracy: 0.7317 - loss: 0.5494 - val_accuracy: 0.7364 - val_loss: 0.5481
Epoch 5/100
644/644  2s 3ms/step - accuracy: 0.7266 - loss: 0.5512 - val_accuracy: 0.7366 - val_loss: 0.5447
Epoch 6/100
644/644  2s 2ms/step - accuracy: 0.7380 - loss: 0.5414 - val_accuracy: 0.7353 - val_loss: 0.5433
Epoch 7/100
644/644  3s 2ms/step - accuracy: 0.7357 - loss: 0.5405 - val_accuracy: 0.7374 - val_loss: 0.5478
Epoch 8/100
644/644  2s 2ms/step - accuracy: 0.7336 - loss: 0.5469 - val_accuracy: 0.7341 - val_loss: 0.5438
Epoch 9/100
644/644  2s 2ms/step - accuracy: 0.7334 - loss: 0.5411 - val_accuracy: 0.7378 - val_loss: 0.5446
Epoch 10/100
644/644  2s 3ms/step - accuracy: 0.7362 - loss: 0.5400 - val_accuracy: 0.7388 - val_loss: 0.5440
Epoch 11/100
644/644  2s 3ms/step - accuracy: 0.7349 - loss: 0.5410 - val_accuracy: 0.7366 - val_loss: 0.5423
Epoch 12/100
644/644  2s 2ms/step - accuracy: 0.7349 - loss: 0.5408 - val_accuracy: 0.7312 - val_loss: 0.5444
Epoch 13/100
644/644  3s 2ms/step - accuracy: 0.7339 - loss: 0.5447 - val_accuracy: 0.7349 - val_loss: 0.5437
Epoch 14/100
644/644  3s 2ms/step - accuracy: 0.7354 - loss: 0.5411 - val_accuracy: 0.7372 - val_loss: 0.5430
Epoch 15/100
644/644  3s 3ms/step - accuracy: 0.7361 - loss: 0.5390 - val_accuracy: 0.7343 - val_loss: 0.5434
Epoch 16/100
644/644  2s 3ms/step - accuracy: 0.7410 - loss: 0.5393 - val_accuracy: 0.7331 - val_loss: 0.5432
Epoch 17/100
644/644  2s 2ms/step - accuracy: 0.7315 - loss: 0.5435 - val_accuracy: 0.7361 - val_loss: 0.5437
Epoch 18/100
644/644  3s 2ms/step - accuracy: 0.7339 - loss: 0.5430 - val_accuracy: 0.7349 - val_loss: 0.5443
Epoch 19/100
644/644  3s 2ms/step - accuracy: 0.7333 - loss: 0.5441 - val_accuracy: 0.7343 - val_loss: 0.5431
Epoch 20/100
644/644  3s 2ms/step - accuracy: 0.7324 - loss: 0.5423 - val_accuracy: 0.7353 - val_loss: 0.5426
Epoch 21/100
644/644  3s 3ms/step - accuracy: 0.7398 - loss: 0.5329 - val_accuracy: 0.7355 - val_loss: 0.5444
Epoch 22/100
644/644  2s 2ms/step - accuracy: 0.7318 - loss: 0.5429 - val_accuracy: 0.7362 - val_loss: 0.5425
Epoch 23/100
644/644  2s 2ms/step - accuracy: 0.7404 - loss: 0.5348 - val_accuracy: 0.7362 - val_loss: 0.5423
Epoch 24/100
644/644  3s 2ms/step - accuracy: 0.7399 - loss: 0.5367 - val_accuracy: 0.7320 - val_loss: 0.5438
Epoch 25/100
644/644  3s 3ms/step - accuracy: 0.7358 - loss: 0.5382 - val_accuracy: 0.7343 - val_loss: 0.5436
Epoch 26/100
644/644  2s 4ms/step - accuracy: 0.7366 - loss: 0.5336 - val_accuracy: 0.7353 - val_loss: 0.5435
Epoch 27/100
644/644  2s 2ms/step - accuracy: 0.7353 - loss: 0.5346 - val_accuracy: 0.7341 - val_loss: 0.5416
Epoch 28/100
644/644  3s 2ms/step - accuracy: 0.7362 - loss: 0.5352 - val_accuracy: 0.7343 - val_loss: 0.5445
Epoch 29/100
644/644  2s 2ms/step - accuracy: 0.7421 - loss: 0.5315 - val_accuracy: 0.7333 - val_loss: 0.5456
Epoch 30/100
644/644  2s 2ms/step - accuracy: 0.7363 - loss: 0.5382 - val_accuracy: 0.7361 - val_loss: 0.5427
Epoch 31/100
644/644  3s 3ms/step - accuracy: 0.7365 - loss: 0.5347 - val_accuracy: 0.7349 - val_loss: 0.5435
Epoch 32/100
644/644  2s 3ms/step - accuracy: 0.7382 - loss: 0.5357 - val_accuracy: 0.7304 - val_loss: 0.5460
Epoch 33/100
644/644  2s 2ms/step - accuracy: 0.7399 - loss: 0.5318 - val_accuracy: 0.7335 - val_loss: 0.5446
Epoch 34/100
644/644  3s 2ms/step - accuracy: 0.7383 - loss: 0.5345 - val_accuracy: 0.7349 - val_loss: 0.5425
Epoch 35/100
644/644  3s 2ms/step - accuracy: 0.7446 - loss: 0.5285 - val_accuracy: 0.7335 - val_loss: 0.5437
Epoch 36/100
644/644  2s 2ms/step - accuracy: 0.7389 - loss: 0.5370 - val_accuracy: 0.7343 - val_loss: 0.5452
Epoch 37/100
644/644  2s 3ms/step - accuracy: 0.7354 - loss: 0.5361 - val_accuracy: 0.7339 - val_loss: 0.5441
Epoch 38/100
644/644  2s 3ms/step - accuracy: 0.7371 - loss: 0.5363 - val_accuracy: 0.7355 - val_loss: 0.5445
Epoch 39/100
644/644  2s 2ms/step - accuracy: 0.7396 - loss: 0.5362 - val_accuracy: 0.7298 - val_loss: 0.5463
Epoch 40/100
644/644  3s 2ms/step - accuracy: 0.7400 - loss: 0.5314 - val_accuracy: 0.7349 - val_loss: 0.5432
Epoch 41/100
644/644  3s 2ms/step - accuracy: 0.7376 - loss: 0.5342 - val_accuracy: 0.7328 - val_loss: 0.5442
Epoch 42/100
644/644  2s 2ms/step - accuracy: 0.7390 - loss: 0.5326 - val_accuracy: 0.7364 - val_loss: 0.5440
Epoch 43/100
644/644  3s 3ms/step - accuracy: 0.7323 - loss: 0.5396 - val_accuracy: 0.7343 - val_loss: 0.5441
Epoch 44/100
644/644  2s 2ms/step - accuracy: 0.7421 - loss: 0.5341 - val_accuracy: 0.7361 - val_loss: 0.5451
Epoch 45/100
644/644  3s 2ms/step - accuracy: 0.7436 - loss: 0.5268 - val_accuracy: 0.7355 - val_loss: 0.5439
Epoch 46/100
644/644  2s 2ms/step - accuracy: 0.7419 - loss: 0.5279 - val_accuracy: 0.7359 - val_loss: 0.5446
Epoch 47/100
644/644  3s 2ms/step - accuracy: 0.7402 - loss: 0.5304 - val_accuracy: 0.7347 - val_loss: 0.5452
Epoch 48/100
644/644  2s 3ms/step - accuracy: 0.7402 - loss: 0.5300 - val_accuracy: 0.7372 - val_loss: 0.5442
Epoch 49/100
644/644  2s 3ms/step - accuracy: 0.7368 - loss: 0.5359 - val_accuracy: 0.7361 - val_loss: 0.5452
Epoch 50/100
644/644  2s 2ms/step - accuracy: 0.7419 - loss: 0.5281 - val_accuracy: 0.7353 - val_loss: 0.5453
Epoch 51/100
644/644  2s 2ms/step - accuracy: 0.7424 - loss: 0.5289 - val_accuracy: 0.7359 - val_loss: 0.5449
Epoch 52/100
644/644  2s 2ms/step - accuracy: 0.7364 - loss: 0.5385 - val_accuracy: 0.7355 - val_loss: 0.5459
Epoch 53/100
644/644  3s 2ms/step - accuracy: 0.7428 - loss: 0.5298 - val_accuracy: 0.7353 - val_loss: 0.5455
Epoch 54/100
644/644  2s 3ms/step - accuracy: 0.7323 - loss: 0.5363 - val_accuracy: 0.7339 - val_loss: 0.5459
Epoch 55/100
644/644  2s 3ms/step - accuracy: 0.7419 - loss: 0.5295 - val_accuracy: 0.7366 - val_loss: 0.5447
Epoch 56/100
644/644  2s 2ms/step - accuracy: 0.7403 - loss: 0.5313 - val_accuracy: 0.7361 - val_loss: 0.5439
Epoch 57/100
644/644  2s 2ms/step - accuracy: 0.7426 - loss: 0.5301 - val_accuracy: 0.7341 - val_loss: 0.5462
Epoch 58/100
644/644  3s 2ms/step - accuracy: 0.7450 - loss: 0.5274 - val_accuracy: 0.7361 - val_loss: 0.5462
Epoch 59/100
644/644  3s 2ms/step - accuracy: 0.7368 - loss: 0.5349 - val_accuracy: 0.7324 - val_loss: 0.5458
Epoch 60/100
644/644  3s 3ms/step - accuracy: 0.7453 - loss: 0.5280 - val_accuracy: 0.7351 - val_loss: 0.5458
Epoch 61/100
644/644  2s 3ms/step - accuracy: 0.7454 - loss: 0.5254 - val_accuracy: 0.7351 - val_loss: 0.5461
Epoch 62/100
644/644  2s 3ms/step - accuracy: 0.7398 - loss: 0.5312 - val_accuracy: 0.7359 - val_loss: 0.5456
Epoch 63/100
644/644  3s 3ms/step - accuracy: 0.7383 - loss: 0.5301 - val_accuracy: 0.7362 - val_loss: 0.5457
Epoch 64/100
644/644  2s 3ms/step - accuracy: 0.7400 - loss: 0.5303 - val_accuracy: 0.7361 - val_loss: 0.5458
Epoch 65/100
644/644  3s 4ms/step - accuracy: 0.7455 - loss: 0.5227 - val_accuracy: 0.7359 - val_loss: 0.5451
Epoch 66/100
644/644  4s 3ms/step - accuracy: 0.7352 - loss: 0.5343 - val_accuracy: 0.7357 - val_loss: 0.5451
Epoch 67/100
644/644  3s 3ms/step - accuracy: 0.7388 - loss: 0.5278 - val_accuracy: 0.7362 - val_loss: 0.5456
Epoch 68/100
644/644  3s 3ms/step - accuracy: 0.7406 - loss: 0.5300 - val_accuracy: 0.7355 - val_loss: 0.5461
Epoch 69/100
644/644  2s 3ms/step - accuracy: 0.7425 - loss: 0.5286 - val_accuracy: 0.7324 - val_loss: 0.5466
Epoch 70/100
644/644  3s 3ms/step - accuracy: 0.7461 - loss: 0.5274 - val_accuracy: 0.7366 - val_loss: 0.5458
Epoch 71/100
644/644  2s 2ms/step - accuracy: 0.7421 - loss: 0.5312 - val_accuracy: 0.7361 - val_loss: 0.5464
Epoch 72/100
644/644  3s 2ms/step - accuracy: 0.7415 - loss: 0.5304 - val_accuracy: 0.7361 - val_loss: 0.5462
Epoch 73/100
644/644  3s 3ms/step - accuracy: 0.7447 - loss: 0.5251 - val_accuracy: 0.7368 - val_loss: 0.5468
Epoch 74/100
644/644  2s 2ms/step - accuracy: 0.7378 - loss: 0.5325 - val_accuracy: 0.7320 - val_loss: 0.5472
Epoch 75/100
644/644  3s 3ms/step - accuracy: 0.7372 - loss: 0.5302 - val_accuracy: 0.7364 - val_loss: 0.5464
Epoch 76/100
644/644  2s 3ms/step - accuracy: 0.7395 - loss: 0.5340 - val_accuracy: 0.7361 - val_loss: 0.5472
Epoch 77/100
644/644  3s 2ms/step - accuracy: 0.7382 - loss: 0.5327 - val_accuracy: 0.7328 - val_loss: 0.5481
Epoch 78/100
644/644  3s 2ms/step - accuracy: 0.7351 - loss: 0.5315 - val_accuracy: 0.7359 - val_loss: 0.5467
Epoch 79/100
644/644  3s 3ms/step - accuracy: 0.7438 - loss: 0.5277 - val_accuracy: 0.7343 - val_loss: 0.5468
Epoch 80/100
644/644  2s 3ms/step - accuracy: 0.7424 - loss: 0.5301 - val_accuracy: 0.7351 - val_loss: 0.5469
Epoch 81/100
644/644  2s 2ms/step - accuracy: 0.7392 - loss: 0.5289 - val_accuracy: 0.7364 - val_loss: 0.5461
Epoch 82/100
644/644  3s 2ms/step - accuracy: 0.7421 - loss: 0.5316 - val_accuracy: 0.7359 - val_loss: 0.5475
Epoch 83/100
644/644  3s 2ms/step - accuracy: 0.7381 - loss: 0.5312 - val_accuracy: 0.7355 - val_loss: 0.5469
Epoch 84/100
644/644  2s 2ms/step - accuracy: 0.7405 - loss: 0.5298 - val_accuracy: 0.7364 - val_loss: 0.5467
Epoch 85/100
644/644  3s 3ms/step - accuracy: 0.7364 - loss: 0.5340 - val_accuracy: 0.7359 - val_loss: 0.5475
Epoch 86/100
644/644  2s 2ms/step - accuracy: 0.7416 - loss: 0.5316 - val_accuracy: 0.7351 - val_loss: 0.5472
Epoch 87/100
644/644  2s 2ms/step - accuracy: 0.7420 - loss: 0.5277 - val_accuracy: 0.7353 - val_loss: 0.5475
Epoch 88/100
644/644  3s 2ms/step - accuracy: 0.7406 - loss: 0.5264 - val_accuracy: 0.7353 - val_loss: 0.5486
Epoch 89/100
644/644  2s 2ms/step - accuracy: 0.7366 - loss: 0.5348 - val_accuracy: 0.7349 - val_loss: 0.5472
Epoch 90/100
644/644  3s 3ms/step - accuracy: 0.7379 - loss: 0.5314 - val_accuracy: 0.7362 - val_loss: 0.5478
Epoch 91/100
644/644  2s 2ms/step - accuracy: 0.7398 - loss: 0.5296 - val_accuracy: 0.7362 - val_loss: 0.5477
Epoch 92/100
644/644  3s 2ms/step - accuracy: 0.7417 - loss: 0.5282 - val_accuracy: 0.7370 - val_loss: 0.5475
Epoch 93/100
644/644  2s 2ms/step - accuracy: 0.7412 - loss: 0.5308 - val_accuracy: 0.7329 - val_loss: 0.5492
Epoch 94/100
644/644  3s 2ms/step - accuracy: 0.7418 - loss: 0.5300 - val_accuracy: 0.7368 - val_loss: 0.5480
Epoch 95/100
644/644  2s 4ms/step - accuracy: 0.7338 - loss: 0.5351 - val_accuracy: 0.7364 - val_loss: 0.5476
Epoch 96/100
644/644  2s 3ms/step - accuracy: 0.7397 - loss: 0.5290 - val_accuracy: 0.7370 - val_loss: 0.5484
Epoch 97/100
644/644  2s 2ms/step - accuracy: 0.7407 - loss: 0.5282 - val_accuracy: 0.7366 - val_loss: 0.5467
Epoch 98/100
644/644  3s 2ms/step - accuracy: 0.7395 - loss: 0.5266 - val_accuracy: 0.7355 - val_loss: 0.5475
Epoch 99/100
644/644  2s 3ms/step - accuracy: 0.7443 - loss: 0.5240 - val_accuracy: 0.7339 - val_loss: 0.5495
Epoch 100/100
644/644  3s 3ms/step - accuracy: 0.7397 - loss: 0.5301 - val_accuracy: 0.7368 - val_loss: 0.5474

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7294 - loss: 0.5607
Loss: 0.5607461929321289, Accuracy: 0.7294460535049438

In [35]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Alphabet Soup Deep Learning Challenge Report

 Purpose of Analysis

The purpose of this analysis was to build and optimize a deep learning model capable of predicting whether applicants for funding at Alphabet Soup are likely to succeed. By analyzing features like the organizations classification, affiliation, income amount, and requested funding, the model aims to help Alphabet Soup allocate resources more effectively.


Data Processed
		Target variable:
		IS_SUCCESSFUL
		Feature variables:
		APPLICATION_TYPE, AFFILIATION, CLASSIFICATION, USE_CASE, ORGANIZATION, STATUS, INCOME_AMT, SPECIAL_CONSIDERATIONS, ASK_AMT
		(All other columns after dropping ID fields)
		Removed variables:
		EIN and NAME
		(Identification columns that are irrelevant for model prediction)


  		Neurons, layers, and activation functions chosen:
		Input Layer: Specified using Input(shape=...).
		First hidden layer: 80 neurons, 'relu' activation.
		Second hidden layer: 30 neurons, 'relu' activation.
		Output layer: 1 neuron, 'sigmoid' activation (for binary classification).
		Initial Model Performance:
		Achieved validation accuracy around 72%.

  	1.	Added More Neurons:
		Increased number of neurons in the hidden layers (120 and 60).
		Result: Slight improvement in training accuracy, minor change in validation accuracy.
	2.	Added an Extra Hidden Layer:
		Introduced a third hidden layer (80  40  20 neurons).
		Result: Model learned deeper representations, slight improvement in validation performance.
	3.	Changed Activation Function:
		Replaced 'relu' with 'tanh' activation functions in hidden layers.
		Result: Slightly different behavior; validation accuracy remained similar.

		Final saved:
		Selected the model with the highest validation accuracy ( option 1 which is 120 and 60) and saved it as AlphabetSoupCharity_Optimization.h5.

  Summary-The deep learning model successfully predicted applicant success with reasonable accuracy. Although the target performance of 75% was challenging to achieve, three optimization strategies were applied to improve model learning and generalization. i achieved an accuracy of 72% through-out

My Recommendation: Another kind of machine learning model could be tried to get better results:
		Random Forest or XGBoost might work better because they can handle complex patterns and important categories in the data without needing a lot of cleanup first.
		These models might also be easier to fine-tune and could give higher accuracy than a neural network when working with this type of table-based data.